# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
